.git
.github
.idea
.vscode

.env
*.log

# test binaries / coverage
*.test
*.out
coverage.html

# Other services not needed for gateway build
identity/
investment/
orchestrator/
thstrategist/
hist-data/
almanac/
proto/
deployment/
data/
